*{
    margin: 0;
    background: #002e6e;
    overflow: hidden;
    
}
h1{
    text-align: center;
    padding-bottom: 20px;
    border: 4px solid #002e6e;
    background: #00b9f5;
    color: #002e6e;
}
 .container{
    height: 800px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

img{
    height: 500px;
    border-radius: 25px;
}
  /* .container img {
    transition: transform 0.8s ease;
  }
  
  #qr:hover img,
  #gif:hover img {
    transform: rotate(360deg);
  } */
  
