body {
    background: black;
    color: yellow;
}

html {
    overflow-x: hidden;
}

.carousel-inner {
    max-width: 100%;
}

/* dropdown menu of navigation bar */
.navbar {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    /* Adjust the width as needed */
}

.menu-item {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}



.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

/* ends dropdown menu of navigation bar */

/* how we can help you section styling starts */
.help-text {
    background-image: url('./collection/gif_bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 30px 2px 4px 20px;
}

.help-text:hover {
    /* background-image: url('./collection/bg_image_for_helping2.jpg'); */
    background-image: url('./collection/bgforabout(1).png');
    background-repeat: no-repeat;
    background-size:cover;
    /* text-transform: capitalize; */

}

/* header navigation, dropdown , hover styling starts */
.dropdown-menu {
    background: #ffc107;

}


/* .navbar-brand img {
    height: 60px;
    width: 100px;
} */

.nav-item {
    font-size: large;
}

.nav-item:hover {
    /* border: 1px solid black; */
    background: #e3bb42;
    border-radius: 10px;


}

.nav-link {
    color: black;
}

/* header navigation, dropdown , hover styling ends */


/* map styling */

.google-map {
    padding-bottom: 30%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

/* map styling ends */


/* counter styling starts */
.counter {

    padding-left: 40%;
    padding-bottom: 30px;
}

.website-counter-text {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* counter styling ends */

/* phone number styling */
.phone-no {

    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.phone-no a {
    text-decoration: none;
    color: black;
}


/* phone number styling ends */


/* ABOUT START */
#about {
    height: 600px;
    width: 100vw;
    background-image: url('./collection/bg\ for\ about.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

#text {
    height: 400px;
    width: 70%;
    opacity: 1;
    display: inline-block;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 700;
}

#pic {
    height: 450px;
    width: 20%;
    background: url('./images/personal_nain_singh\ \(1\).jpg');
    background-repeat: no-repeat;
    position: relative;
    left: -40px;
}

#icon-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-name h1 {
    color: #ffc107;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 640px;
}

#icon-name span {
    font-size: 40px;
    margin-left: 40px;
}

.message {
    /* background-color: yellow; */
    color: yellow;
    display: block;
    /* font-weight: 900; */
    font-weight: 550;
    overflow: hidden;
    position: absolute;
    top: 0.2rem;
    left: 240px;
    animation: openclose 10s ease-in-out infinite;
}

.word1,
.word2,
.word3,
.word4,
.word5
 {
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        
        top: 0.2rem;
        width: 0;
    }
    5% {
        width: 0;
    }
    10% {
        width: 270px;
    }
    15% {
        top: 0.2rem;
        width: 270px;
    }
    20% {
        top: 0.2rem;
        width: 0;
    }
    25% {
        top: 0.2rem;
        width: 0;
        text-indent: 5px;
    }
    29% {
        top: -4.5rem;
        width: 0;
    }
    33% {
        top: -4.5rem;
        width: 210px;
    }
    38% {
        top: -4.5rem;
        width: 210px;
    }
    43% {
        top: -4.5rem;
        width: 0;
        text-indent: 5px;
    }
    47% {
        top: -9rem;
        width: 0;
    }
    51% {
        top: -9rem;
        width: 285px;
    }
    56% {
        top: -9rem;
        width: 285px;
    }
    61% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    65% {
        top: -13.5rem;
        width: 0;
    }
    69% {
        top: -13.5rem;
        width: 248px;
    }
    74% {
        top: -13.5rem;
        width: 248px;
    }
    79% {
        top: -13.5rem;
        width: 0;
        text-indent: 5px;
    }
    83% {
        top: -18rem;
        width: 0;
    }
    87% {
        top: -18rem;
        width: 550px;
    }
    92% {
        top: -18rem;
        width: 550px;
    }
    97% {
        top: -18rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

@media screen and (max-width: 600px) {
    /* Styles for screens with a maximum width of 768px */
  
   #pic{
    height: 33vh;
    width: 100vw;
    left: 0px;
   }
    #about {
      /* flex-direction: column; */
      flex-direction: column-reverse;
      height: 800px;
      
    }
  
    #text {
      padding-left: 0;
      /* text-align: center; */
      font-size: 13px;
      line-height: 20px;
    }

  
    #icon-name {
      padding-left: 0;
    }
  
    .message {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
  
    .message div {
      margin: 5px;
    }
    .navbar-brand{
        width: 50px;
    }
    .navbar-brand img{
        width: 200px;
    }

  }
 

/* about styling ends */


/* CUSTOMER REVIEWS START */
#customer-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.customer-reviews-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.customer-reviews-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: yellow;
    padding: 10px 20px;
}
.customer-reviews-heading span{
    font-size: 1.3rem;
    color: orange;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.customer-reviews-box-container{
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width:100%;
}
.customer-reviews-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.customer-reviews-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .customer-reviews-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .customer-reviews-box{
        width:100%;
    }
    .customer-reviews-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
/* CUSTOMER REVIEWS END */


/* SERVICE OFFERED START  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


#reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    margin: 20px 50px;
    border: 1px solid #5f6368;
    border-radius: 10px;
    background-color: rgb(38, 41, 49);
}

.card {
    width: 220px;
    background-color: rgb(29, 30, 37);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: scale(.8, .8);
    transition: all 1s ease-in-out;
    overflow: hidden;
}

#reviews-container .active {
    opacity: 1;
    transform: scale(1, 1);
    transition: all .3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #5f6368;
}

.img-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.img-container img {
    height: 100%;
    width: 96%;
}

.name-container {
    position: absolute;
    bottom: 0;
    background-color: rgb(192, 192, 192);
    color: #000;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

/* SERVICE OFFERED END  */

/* phone and whatsapp bar styling */


  .whats-app {
    display: inline;
    position: fixed;
    bottom: 25px;
    left: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}
.mobileShow {
    display: inline;
    position: fixed;
    bottom: 25px;
    right: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
}

/* phone and whatsapp bar styling ends */

/* header phone-number styling starts */
.container1 {
    height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container1 {

  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 930px) {
  }
}


.button {
  position: relative;
  color: black;
  text-decoration: none;
  display: inline-block;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  border: 2px solid black;
  border-radius: 1000px;
  padding: 10px 20px;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  transition: .5s all ease-in-out;
  &:hover {
    cursor:pointer;
    background: black;
    color: #ffc107;
    animation: none;
    animation-play-state: paused;
  }
}

.button-wiggle {
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}


.button-pulse {
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 rgb(10, 6, 6);
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
  }
}

.button-float {
  animation: float 1.5s linear alternate infinite;
}

@keyframes float {
	50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}
/* header phone-number styling starts ends */