@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

 *{
    margin: 0;
    padding: 0;
}
/*
body{

    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9C27B0;
    width: 100%;
    height: 100%;

} */

.container{
  /* padding-top: 30px; */
    width: 100%;
    height: 50%;
    display: -webkit-box;
    overflow-x: hidden;
    position: relative;

}

.container .card-container{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.container .card-container .card{

    width: 23%;
    height: 100%;
    background-color: #065899;
    border-radius: .5vw;
    box-shadow: 0 0 0vw .18vw transparent;

}

.container .card-container .card .image{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.container .card-container .card .image div{

    width: 50%;
    background-color: white;
    border-radius: 5vw;
    padding: 2%;

}

.container .card-container .card .image div img{

    width: 100%;
    border-radius: 5vw;

}

.container .card-container .card .details{

    width: 100%;
    height: 20%;
    text-align: center;

}

.container .card-container .card .details .name{

    font-size: 1.3vw;
    color: white;
    font-weight: bold;

}

.container .card-container .card .details .job{

    font-size: 1.2vw;
    color: #bfbebe;

}


.container .card-container .card .button{

    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .card-container .card .button button{

    width: 50%;
    height: 70%;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: white;
    border: .2vw solid #FFC107;
    outline: none;
    border-radius: .3vw;
    transition: .2s;

}


.container .card-container .card .button button:active{

    background-color: #FFC107;
    transform: scale(1.1);

}

.arrow-left{

    width: 3%;
    padding: .5% 0;
    background-color: #FFC107;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    left: 5%;
    top: 55%;
    border-radius: 5vw;
    font-size: 2vw;
    cursor: pointer;

}

.arrow-right{

    width: 3%;
    padding: .5% 0;
    /* padding-left: 50px; */
    background-color: #FFC107;
    color: black;
    display: flex;
    align-items: center;
    /* align-items: normal; */
    justify-content: center;
    position: fixed;
    z-index: 2;
    right: 5%;
    top:55%;
    border-radius: 5vw;
    font-size: 2vw;
    cursor: pointer;

}

/* .custom-groups{

    position: absolute;
    width: 50%;
    height: 200%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8vw;
    color: white;

}

.custom-groups button{

    width: 5%;
    padding: 1%;
    cursor: pointer;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: .5vw;

} */